<div class="navbar">
    <div class="navbar-inner">
        <div class="btn-group">
          <button class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <input type="checkbox" />
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <!-- dropdown menu links -->
          </ul>
        </div>
        <button id="btn-refresh" class="btn"><i class="icon-repeat"></i></button>
        <div class="pull-right">
            <div class="btn-group">
                <button class="btn"><i class="icon-chevron-left"></i></button>
                <button class="btn"><i class="icon-chevron-right"></i></button>  
            </div>
            <div class="btn-group">
              <button class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-cog"></i>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <!-- dropdown menu links -->
              </ul>
            </div>
        </div>
    </div>
</div>