<div class="navbar">
    <div class="navbar-inner">
      <div id="player-controls" class="btn-group pull-left">
          <button id="btn-prev" class="btn disabled"><i class="icon-backward"></i></button>
          <button id="btn-play" class="btn disabled"><i class="icon-play"></i></button>
          <button id="btn-pause" class="btn"><i class="icon-pause"></i></button>
          <button id="btn-next" class="btn disabled"><i class="icon-forward"></i></button> 
      </div>
      <div id="time" class="pull-left">
        <span id="time-played">0:00</span>
        <div id="timeslide"></div>
        <span id="time-total">0:00</span>
      </div>
      <div id="artist_info" class="pull-left">

      </div>
      <div id="volume" class="pull-right">
        <button id="btn-volume" class="btn"><i class="icon-volume-up"></i></button>
        <div id="volumeslide"></div>
      </div>
    </div>
</div>